*{
    margin: 0;
    padding: 0;
}
.navbar{
    background: linear-gradient(to left,#0000cc,#00ff80);
    width: 100%;
}
.navbar-brand{
    color: rgb(8, 121, 18) !important;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s ease all;
}
.navbar-brand:hover{
    color: orange !important;
}
.nav-link{
    margin-right: 20px;
    transition: 0.3s ease all;
    color: #f1f917 !important;
    font-weight: 600;
}
.nav-link:hover{
    color: #333 !important;
}


/* --------cow id----------- */

#cow-id{
    padding-top: 150px;
}
#cow-id h3{
    text-align: center;
    color: green;
    font-weight: 600;
    margin-bottom: 30px;
}

#cow-id p{
    text-align: justify;
    color: #cc6600;
}
.card{
    box-sizing: border-box;
    border: 3px solid silver;
    box-shadow: 1px 3px 9px 3px;
    
}
#cow-food li{
    list-style: circle;
}
#cow-food{
    padding-top: 100px;
}
#cow-food h5{
    color: orange;
}
#cow-ads{
    margin-top: 100px !important;
    box-sizing: border-box;
}
#footer{
    background: #000;
    min-height: 150px;
}
.footer{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}